@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



@plugin "daisyui" {
    themes: light --default;
}
/* @import '../../vendor/wireui/wireui/ts/global.css'; */
@source '../../vendor/wireui/wireui';

/* wire ui */
@theme {
    --color-primary-50: #eef2ff;
    --color-primary-100: #e0e7ff;
    --color-primary-200: #c7d2fe;
    --color-primary-300: #a5b4fc;
    --color-primary-400: #818cf8;
    --color-primary-500: #6366f1;
    --color-primary-600: #4f46e5;
    --color-primary-700: #4338ca;
    --color-primary-800: #3730a3;
    --color-primary-900: #312e81;
    --color-primary-950: #1e1b4b;

    --color-secondary-50: #f8fafc;
    --color-secondary-100: #f1f5f9;
    --color-secondary-200: #e2e8f0;
    --color-secondary-300: #cbd5e1;
    --color-secondary-400: #94a3b8;
    --color-secondary-500: #64748b;
    --color-secondary-600: #475569;
    --color-secondary-700: #334155;
    --color-secondary-800: #1e293b;
    --color-secondary-900: #0f172a;
    --color-secondary-950: #020617;

    --color-positive-50: #ecfdf5;
    --color-positive-100: #d1fae5;
    --color-positive-200: #a7f3d0;
    --color-positive-300: #6ee7b7;
    --color-positive-400: #34d399;
    --color-positive-500: #10b981;
    --color-positive-600: #059669;
    --color-positive-700: #047857;
    --color-positive-800: #065f46;
    --color-positive-900: #064e3b;
    --color-positive-950: #022c22;

    --color-negative-50: #fef2f2;
    --color-negative-100: #fee2e2;
    --color-negative-200: #fecaca;
    --color-negative-300: #fca5a5;
    --color-negative-400: #f87171;
    --color-negative-500: #ef4444;
    --color-negative-600: #dc2626;
    --color-negative-700: #b91c1c;
    --color-negative-800: #991b1b;
    --color-negative-900: #7f1d1d;
    --color-negative-950: #450a0a;

    --color-warning-50: #fffbeb;
    --color-warning-100: #fef3c7;
    --color-warning-200: #fde68a;
    --color-warning-300: #fcd34d;
    --color-warning-400: #fbbf24;
    --color-warning-500: #f59e0b;
    --color-warning-600: #d97706;
    --color-warning-700: #b45309;
    --color-warning-800: #92400e;
    --color-warning-900: #78350f;
    --color-warning-950: #451a03;

    --color-info-50: #eff6ff;
    --color-info-100: #dbeafe;
    --color-info-200: #bfdbfe;
    --color-info-300: #93c5fd;
    --color-info-400: #60a5fa;
    --color-info-500: #3b82f6;
    --color-info-600: #2563eb;
    --color-info-700: #1d4ed8;
    --color-info-800: #1e40af;
    --color-info-900: #1e3a8a;
    --color-info-950: #172554;

    --color-background-white: #fff;
    --color-background-dark: #1e293b;

    --z-index-60: 60;
    --z-index-70: 70;

    --text-3xs: 0.5rem;
    --text-2xs: 0.65rem;

    --spacing-2_2: 0.55rem;
    --spacing-4_5: 1.13rem;
    --spacing-5_5: 1.38rem;
    --spacing-6_5: 1.63rem;
    --spacing-9_5: 2.38rem;

    --animate-linear-progress: linear-progress 2s linear infinite;

    @keyframes linear-progress {
        0% {
            left: -30%;
        }
        100% {
            left: 100%;
        }
    }
}


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
    /* lebar scrollbar */
    height: 10px;
    /* tinggi scrollbar horizontal */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* warna track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* warna thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* warna saat hover */
}

/* Firefox */
* {
    scrollbar-width: thin;
    /* auto | thin | none */
    scrollbar-color: #888 #f1f1f1;
    /* thumb | track */
}